* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.App { 
	height: 100vh; 
	width: 100vw; 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	background-color: rgb(160, 186, 194); 
} 

.container { 
	display: flex; 
	flex-direction: column; 
} 

.header { 
	display: flex; 
	flex-direction: row; 
	padding: 10px; 
	display: flex; 
	justify-content: center; 
	align-items: centre; 
}


h1 { 
	align-self: start; 
	font-size: 2.5rem; 
	color: rgb(247, 247, 247); 
  	font-style: italic;
}

.navbar .btn-outline-success {
	margin-right: 1000px;
	margin-top: 20px;	
	font-size: large;
	font-weight: bolder;
	color: black;
	border: 2px solid white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar .btn-outline-success:hover {
	background-color: darkblue;
	color: whitesmoke;
}

.button { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	padding: 0.5rem 0.8rem; 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	width: 200px; 
	font-size: 1.2rem; 
	font-weight: bolder; 
	border-radius: 0.7rem; 
	border-style: none; 
	background-color: darkblue; 
	color: white; 
	margin-top: 4px; 
	margin-left: 55%; 
} 

.button:hover { 
	border: 2px solid black; 
	cursor: pointer; 
} 

.board { 
	display: grid; 
	margin: auto; 
	margin-top: 3rem; 
	grid-template-columns: repeat(4, 15rem); 
	place-items: center; 
	row-gap: 5rem; 
} 

.comments { 
	padding: 0.25rem 1rem; 
	background-color: lightblue; 
	margin: auto; 
	margin-top: 40px; 
	text-align: center; 
	border-radius: 2rem; 
} 

.face { 
	height: 6rem; 
} 

.back { 
	height: 6rem; 
	width: 6rem; 
	background-color: rgb(0, 34, 66);
	border: 1px solid whitesmoke; 
	border-radius: 50%; 
} 

.item .face { 
	position: absolute; 
	transform: rotateY(90deg); 
	transition: all ease-in 0.25s; 

} 

.toggled .face { 
	transform: rotateY(0deg); 
	transition-delay: 0.25s; 
} 

.item .back { 
	transition: all ease-in 0.25s; 
	transition-delay: 0.25s; 
} 

.toggled .back { 
	transform: rotateY(90deg); 
	transition-delay: 0s; 
}
